USE [master]
GO
/****** Object:  Database [Quanlybanhang]    Script Date: 9/10/2025 8:41:11 AM ******/
CREATE DATABASE [Quanlybanhang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quanlybanhang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL2022\MSSQL\DATA\Quanlybanhang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quanlybanhang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL2022\MSSQL\DATA\Quanlybanhang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quanlybanhang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quanlybanhang]
GO
/****** Object:  Table [dbo].[CTDonHang]    Script Date: 9/10/2025 8:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDonHang](
	[MaHD] [nchar](6) NOT NULL,
	[MaMH] [nchar](6) NOT NULL,
	[SLDat] [int] NULL,
	[DgBan] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 9/10/2025 8:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaHD] [nchar](6) NOT NULL,
	[MaKH] [nchar](6) NULL,
	[MaNV] [nchar](6) NULL,
	[NgayDH] [datetime2](7) NULL,
	[PTTT] [nvarchar](100) NULL,
	[NgayDKNH] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 9/10/2025 8:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nchar](6) NOT NULL,
	[HoKH] [nvarchar](100) NULL,
	[TenKH] [nvarchar](30) NULL,
	[Phai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[DienThoai] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 9/10/2025 8:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MaLoaiHang] [nchar](5) NOT NULL,
	[TenLoaiHang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatHang]    Script Date: 9/10/2025 8:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatHang](
	[MaMH] [nchar](6) NOT NULL,
	[TenMH] [nvarchar](150) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[SoLuongTon] [int] NULL,
	[DgNhap] [float] NULL,
	[DgBan] [float] NULL,
	[MaLoaiHang] [nchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 9/10/2025 8:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nchar](6) NOT NULL,
	[HoNV] [nvarchar](100) NULL,
	[TenNV] [nvarchar](30) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[DienThoai] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTDonHang] ([MaHD], [MaMH], [SLDat], [DgBan]) VALUES (N'S00001', N'ST0001', 5, 16000)
INSERT [dbo].[CTDonHang] ([MaHD], [MaMH], [SLDat], [DgBan]) VALUES (N'S00001', N'ST0003', 5, 16000)
INSERT [dbo].[CTDonHang] ([MaHD], [MaMH], [SLDat], [DgBan]) VALUES (N'S00001', N'TT0001', 20, 150000)
GO
INSERT [dbo].[DonDatHang] ([MaHD], [MaKH], [MaNV], [NgayDH], [PTTT], [NgayDKNH]) VALUES (N'S00001', N'120012', N'120003', CAST(N'2016-05-04T00:00:00.0000000' AS DateTime2), N'tiền mặt', CAST(N'2016-05-06T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[DonDatHang] ([MaHD], [MaKH], [MaNV], [NgayDH], [PTTT], [NgayDKNH]) VALUES (N'S00002', N'120013', N'120003', CAST(N'2016-05-09T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2016-05-09T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[DonDatHang] ([MaHD], [MaKH], [MaNV], [NgayDH], [PTTT], [NgayDKNH]) VALUES (N'S00003', N'120015', N'120002', CAST(N'2016-05-07T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2016-05-09T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [Phai], [DiaChi], [DienThoai], [Email]) VALUES (N'120012', N'Nguyễn Thị Minh', N'Ngọc', N'Nữ', N'123/6 bis Lê Thánh Tôn, Q1, Tp.HCM', N'098123123', N'ngoctm@gmail.com')
INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [Phai], [DiaChi], [DienThoai], [Email]) VALUES (N'120013', N'Trần Anh', N'Tuấn', N'Nam', N'49/12B Nguyễn Thị Minh Khai, Q1, Tp.HCM', N'091321321', N'tuanta@yahoo.com')
INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [Phai], [DiaChi], [DienThoai], [Email]) VALUES (N'120014', N'Lê Nam', N'Anh', N'Nam', N'Ngõ 6, phố Thanh Xuân, Hà Nội', N'090312312', N'anhlm@gmail.com')
GO
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'GS   ', N'Gốm sứ')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'Khac ', N'Khác')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'SGK  ', N'Sách giáo khoa')
GO
INSERT [dbo].[MatHang] ([MaMH], [TenMH], [DonViTinh], [SoLuongTon], [DgNhap], [DgBan], [MaLoaiHang]) VALUES (N'      ', N'', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MatHang] ([MaMH], [TenMH], [DonViTinh], [SoLuongTon], [DgNhap], [DgBan], [MaLoaiHang]) VALUES (N'ST0001', N'Sách tô màu bé 3-4t', N'cuốn', 300, 10000, 15000, N'STK  ')
INSERT [dbo].[MatHang] ([MaMH], [TenMH], [DonViTinh], [SoLuongTon], [DgNhap], [DgBan], [MaLoaiHang]) VALUES (N'ST0002', N'Sách tô màu bé 4-5t', N'cuốn', 400, 15000, 20000, N'STK  ')
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoNV], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [DienThoai], [Email]) VALUES (N'120001', N'Lê Thị', N'Cúc', CAST(N'1989-05-04T00:00:00.000' AS DateTime), N'Nữ', N'Lô C, phòng 28', N'092987987', N'cuclt@gmail.com')
INSERT [dbo].[NhanVien] ([MaNV], [HoNV], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [DienThoai], [Email]) VALUES (N'120002', N'Mai Minh', N'Mẫn', CAST(N'1990-03-07T00:00:00.000' AS DateTime), N'Nữ', N'78/12/8/Tân Hội', N'098789789', N'manmm@gmail.com')
INSERT [dbo].[NhanVien] ([MaNV], [HoNV], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [DienThoai], [Email]) VALUES (N'120003', N'Võ Tú', N'Hoàng', CAST(N'2000-09-08T00:00:00.000' AS DateTime), N'Nam', N'178/97 An Dương', N'091234234', N'hoangvt@yahoo.com')
GO
ALTER TABLE [dbo].[CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonHang] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MatHang] ([MaMH])
GO
ALTER TABLE [dbo].[CTDonHang] CHECK CONSTRAINT [FK_CTDonHang]
GO
ALTER TABLE [dbo].[CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonHang2] FOREIGN KEY([MaHD])
REFERENCES [dbo].[DonDatHang] ([MaHD])
GO
ALTER TABLE [dbo].[CTDonHang] CHECK CONSTRAINT [FK_CTDonHang2]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[MatHang]  WITH CHECK ADD FOREIGN KEY([MaLoaiHang])
REFERENCES [dbo].[LoaiHang] ([MaLoaiHang])
GO
ALTER TABLE [dbo].[MatHang]  WITH CHECK ADD FOREIGN KEY([MaLoaiHang])
REFERENCES [dbo].[LoaiHang] ([MaLoaiHang])
GO
USE [master]
GO
